<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12  text-center">
      <img src="../assets/images/anh%20nen.jpg " width="100%" alt="">
    </div>
  </div>
</div>
<app-customer-list></app-customer-list>
<!--<app-edit-customer></app-edit-customer>-->
<app-footer></app-footer>

<!--<app-create-contract></app-create-contract>-->
<!--<app-contract-list></app-contract-list>-->
<!--<app-create-customer></app-create-customer>-->
<!--<app-customer-list></app-customer-list>-->

<!--<app-create-service></app-create-service>-->
<!--<app-edit-service></app-edit-service>-->

<!--<router-outlet></router-outlet>-->
