<p>register works!</p>

<p>login-form works!</p>


<form class="container-fluid"
      [formGroup]='registerForm'
      (ngSubmit)="onSubmit()"
      novalidate
>
  <div class="mb-3 col-6">
    <label for="email" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
    formControlName="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div
    *ngIf="!email.valid && (email.dirty||email.touched)">
    Email is not valid ex: jhon@gmail.com
  </div>

<!--  <div class="mb-3 col-6">-->
<!--    <label>Password</label>-->
<!--    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }" />-->
<!--    <div *ngIf="submitted && !registerForm.controls.password.errors" class="invalid-feedback">-->
<!--      <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>-->
<!--      <div *ngIf="registerForm.controls.password.errors.minlength">Password must be at least 6 characters</div>-->
<!--    </div>-->
<!--  </div>-->



<!--  <div class="mb-3 col-6">-->
<!--    <label>Confirm Password</label>-->
<!--    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.confirmPassword.errors }" />-->
<!--    <div *ngIf="submitted && !registerForm.controls.confirmPassword.errors" class="invalid-feedback">-->
<!--      <div *ngIf="registerForm.controls.confirmPassword.errors.required">Password is required</div>-->
<!--      <div *ngIf="registerForm.controls.confirmPassword.errors.minlength">Password must be at least 6 characters</div>-->
<!--      <div *ngIf="registerForm.controls.confirmPassword.errors.mustMatch">Passwords must match</div>-->
<!--    </div>-->
<!--  </div>-->


  <div class="mb-3 col-6" formGroupName="pwGroup">
    <label for="email" class="form-label">Pass Word</label>
    <input name="email" type="email" class="form-control" aria-describedby="emailHelp"
           formControlName="password">
    <label for="email" class="form-label">Confirm Pass Word</label>
    <input name="email" type="email" class="form-control" aria-describedby="emailHelp"
           formControlName="confirmPassword">
    <p style="color: red"
       *ngIf="registerForm.controls.pwGroup.hasError('checkConfirm')
      && (registerForm.controls.pwGroup.dirty || registerForm.controls.pwGroup.touched)">
      pass not match
    </p>

    <p style="color: red"
       *ngIf="registerForm.get('pwGroup.confirmPassword').errors?.touched &&
     registerForm.get('pwGroup.confirmPassword').errors?.required">
      pass not requied
    </p>

  </div>





  <div class="mb-3 col-6">
  <label for="country" class="form-label">Country</label>
    <select name="country" id="country" formControlName="country">
<!--      <option  *ngFor="let c of countryList" [ngValue]="c">{{c.name}}</option>-->
      <option selected [value]="null" disabled>
        select country
      </option>
      <option *ngFor="let  c of countryList" [ngValue]="c">{{c.country}}</option>
    </select>


<!--    <select name="country" id="country" formControlName="country" >-->
<!--      <option value="VN" selected>VN</option>-->
<!--      <option value="USA">USA</option>-->
<!--      <option value="ENG">ENG</option>-->
<!--    </select>-->
</div>

  <div class="mb-3 col-6">
    <label for="age" class="form-label">Age</label>
    <input
      name="age" type="text" class="form-control" id="age"
     formControlName="age">
  </div>

  <div
    *ngIf="!age.valid && (age.dirty||age.touched)">
    age  is not valid age from(18-100)
  </div>

  <div class="mb-3 col-6">
    <label for="gender" class="form-label" >Gender</label>
    <input type="radio"  id="gender" value="Male" formControlName="gender" style="margin: 5px"><span>Male</span>
    <input type="radio"  value="Female" formControlName="gender" style="margin: 5px"><span>FeMale</span>
  </div>

  <div
    *ngIf="!gender.valid && (gender.dirty||gender.touched)">
    gender is not valid
  </div>

  <div class="mb-3 col-6">
    <label for="phone" class="form-label">Phone</label>
    <input
      name="phone" type="text" class="form-control" id="phone"
      formControlName="phone">
  </div>


  <div
    *ngIf="!phone.valid && (phone.dirty||phone.touched)">
    phone is not valid
  </div>

<!--  <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit-->

<!--  </button>-->

  <button class="btn btn-primary" [disabled]="!registerForm.valid">Submit

  </button>
</form>
