<p>service-list works!</p>

<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3>New Service In This Year</h3>
      <p>There are many options for you</p>
      <p>Up the best of Service to you.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12  text-center">
      <span><a href="#" class="text-decoration-none text-primary fs-6">Explore ></a></span>
      <span> <a href="#" class="text-decoration-none text-primary  fs-6">Top Surface deals ></a></span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12  text-center">
      <img src="images/anh%20nen.jpg " width="100%" alt="">
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <p class="text-lg-start fs-5">Two-in-one</p>
    </div>


  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 bg-light">
      <div class="col-lg-12">
        <img src="images/room.jpg " width="100%" height="200px" alt="">
        <span class="badge bg-secondary badge bg-warning text-dark">New</span>
        <span class="text-decoration-none text  fs-6">OCEAN STUDIO SUIT</span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">Best Service ></a></h3>
      </div>
      <div>
        <button type="button" class="btn btn-primary btn-view" data-toggle="modal" data-target="#deditModal">
          Edit
        </button>

        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>

    </div>


    <div class="col-lg-3 bg-light">
      <div class="col-lg-12">
        <img src="images/room_2.jpg" width="100%" height="200px" alt="">
        <span class="badge bg-secondary badge bg-warning text-dark">New</span>
        <span class="text-decoration-none text  fs-6">OCEAN SUIT</span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">>Best Services ></a></h3>
      </div>

      <div>
        <button type="button" class="btn btn-primary btn-view" data-toggle="modal" data-target="#deditModal">
          Edit
        </button>

        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>
    </div>

    <div class="col-lg-3 bg-light">
      <div class="col-lg-12">
        <img src="images/room_3.jpg" width="100%" height="200px" alt="">
        <span class="badge bg-secondary badge bg-warning text-dark">New</span>
        <span class="text-decoration-none text  fs-6">OCEAN SUIT</span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">>Best Service ></a></h3>
      </div>

      <div>
        <button type="button" class="btn btn-primary btn-view" data-toggle="modal" data-target="#deditModal">
          Edit
        </button>

        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>
    </div>

    <div class="col-lg-3 bg-light">
      <div class="col-lg-12">
        <img src="images/room.jpg " width="100%" height="200px" alt="">
        <span class="badge bg-secondary badge bg-warning text-dark">New</span>
        <span class="text-decoration-none text  fs-6">OCEAN STUDIO SUIT</span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">Best Service ></a></h3>
      </div>

      <div>
        <button type="button" class="btn btn-primary btn-view" data-toggle="modal" data-target="#deditModal">
          Edit
        </button>

        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>
    </div>

  </div>

</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-lg-start fs-5"></p>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row bg-light">
    <div class="col-lg-3 bg-light">
      <div class="col-lg-12 bg-light">
        <img src="images/villa_1.jpg " width="100%" height="200px" alt="">
        <span class="badge bg-secondary badge bg-warning text-dark">New</span>
        <span class="text-decoration-none text  fs-6">VILLA A</span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">Top Surface deals ></a></h3>
      </div>

      <div>
        <button type="button" class="btn btn-primary btn-view" data-toggle="modal" data-target="#deditModal">
          Edit
        </button>

        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="col-lg-12">
        <img src="images/villa_2.jpg" width="100%" height="200px" alt="">
        <span class="text-decoration-none text  fs-6">VILLA B</span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">Top Surface deals ></a></h3>
      </div>

      <div>
        <button type="button" class="btn btn-primary btn-view" data-toggle="modal" data-target="#deditModal">
          Edit
        </button>

        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="col-lg-12">
        <img src="images/villa_3.jpg" width="100%" height="200px" alt="">
        <span class="text-decoration-none text  fs-6">VILLA C</span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">Top Surface deals ></a></h3>
      </div>

      <div>
        <button type="button" class="btn btn-primary btn-view" data-toggle="modal" data-target="#deditModal">
          Edit
        </button>

        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="col-lg-12">
        <img src="images/villa_4.jpg" width="100%" height="200px" alt="">
        <span class="text-decoration-none text  fs-6">VILLA D</span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">Top Surface deals ></a></h3>
      </div>

      <div>
        <button type="button" class="btn btn-primary btn-view" data-toggle="modal" data-target="#deditModal">
          Edit
        </button>

        <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times</span>
        </button>
      </div>
      <div class="modal-body">Do you want to delete</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a id="link-delete" class="btn btn-danger" href="">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times</span>
        </button>
      </div>
      <div class="modal-body">Do you want to edit</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a id="link-edit" class="btn-primary" href="">Edit</a>
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--            <p class="text-lg-start fs-5">All in one</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<br>



<app-footer></app-footer>
