<p xmlns:th="http://www.w3.org/1999/xhtml">facility-list works!</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3>New Service In This Year</h3>
      <p>There are many options for you</p>
      <p>Up the best of Service to you.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12  text-center">
      <span><a href="#" class="text-decoration-none text-primary fs-6">Explore ></a></span>
      <span> <a href="#" class="text-decoration-none text-primary  fs-6">Top Surface deals ></a></span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12  text-center">
      <img src="../../../assets/images/anh%20nen.jpg " width="100%" alt="">
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <p class="text-lg-start fs-5">Two-in-one</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12  text-lg-start">
      <button type="button" routerLink="/facility/create" class="btn btn-primary">Add new Facility</button>
<!--      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create">Add new Facility-->
<!--      </button>-->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-3">
    <nav class="navbar">
      <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()"
             placeholder="enter your search name">
    </nav>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 bg-light" style="padding: 10px"
         *ngFor="let facility of facilityList | orderBy : key : reverse | paginate: {itemsPerPage:6, currentPage:page}">
      <div class="col-lg-12">
        <img src="{{facility.image}}" width="100%" height="200px" alt="">
        <span class="badge bg-secondary badge bg-warning text-dark">New</span>&nbsp;
        <span (click)="sort('name')" class="text-decoration-none text  fs-6">{{facility.name}} &nbsp;<i
          class="fa fa-sort"></i></span>
        <h3><a href="#" class="text-decoration-none text-primary  fs-6">Best Service ></a></h3>
      </div>
      <div>
        <!--        <button [routerLink]="['/facility/delete',facility.id]" data-toggle="modal" data-target="#deleteModal"-->
        <!--           class="btn btn-danger"  onclick="return confirm('Do you want to delete?')">Delete</button>-->
        <button (click)="getId(facility.id)" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
          Delete
        </button>
        &nbsp;
        <button routerLink="/facility/edit/{{facility.id}}" data-toggle="modal" data-target="#editModal"
                class="btn btn-primary">Edit
        </button>
      </div>

    </div>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>

</div>


<!--Create Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa {{id1}} ko
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete(id1)">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-lg-start fs-5"></p>
    </div>
  </div>
</div>


