<p>customer-edit works!</p>

<div id="form" class="mb-3 row bg-light" style="padding-left: 50px">
  <form novalidate="novalidate" [formGroup]="customerForm">

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Id</label>
      <div class="col-sm-10 padding" >
        <input type="text" readonly formControlName="id"/>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10 padding">
        <input type="text" formControlName="name"/>
      </div>
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('name').errors?.required && (customerForm.get('name').dirty ||customerForm.get('name').touched)">
      name cannot be blank!
    </div>


    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">codeNumber</label>
      <div class="col-sm-10 padding">
        <input type="text" formControlName="codeNumber"/>
      </div>
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('codeNumber').errors?.required && (customerForm.get('codeNumber').dirty ||customerForm.get('codeNumber').touched)">
      codeNumber cannot be blank!
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('codeNumber').errors?.pattern && (customerForm.get('codeNumber').dirty ||customerForm.get('codeNumber').touched)">
      codeNumber is not valid ex: KH-0000
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">BirthDay</label>
      <div class="col-sm-10 padding">
        <input type="date" formControlName="birthDay"/>
      </div>
    </div>


    <div style="color: red"
         *ngIf="customerForm.get('birthDay').errors?.required && (customerForm.get('birthDay').dirty ||customerForm.get('birthDay').touched)">
      birthDay cannot be blank!
    </div>


    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Gender</label>
      <div class="col-sm-10 padding">
        <select name="gender" id="gender" formControlName="gender" class="width-select">
          <option value="Man">Man</option>
          <option value="Woman">Woman</option>
        </select>
      </div>
    </div>

    <div
      *ngIf="!gender.valid && (gender.dirty||gender.touched)" style="color: red">
      gender is not valid
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">IdCard</label>
      <div class="col-sm-10 padding">
        <input type="text" formControlName="idCard"/>
      </div>
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('idCard').errors?.required && (customerForm.get('idCard').dirty ||customerForm.get('idCard').touched)">
      idCard cannot be blank!
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('idCard').errors?.pattern && (customerForm.get('idCard').dirty ||customerForm.get('idCard').touched)">
      idCard is not valid!
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10 padding">
        <input type="text" formControlName="phone"/>
      </div>
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('phone').errors?.required && (customerForm.get('phone').dirty ||customerForm.get('phone').touched)">
      phone cannot be blank!
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('phone').errors?.pattern && (customerForm.get('phone').dirty ||customerForm.get('phone').touched)">
      phone is not valid!
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10 padding">
        <input type="text" formControlName="email"/>
      </div>
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('email').errors?.required && (customerForm.get('email').dirty ||customerForm.get('email').touched)">
      email cannot be blank!
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('email').errors?.email && (customerForm.get('email').dirty ||customerForm.get('email').touched)">
      email is not valid!
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10 padding">
        <input type="text" formControlName="address"/>
      </div>
    </div>

    <div style="color: red"
         *ngIf="customerForm.get('address').errors?.required && (customerForm.get('address').dirty ||customerForm.get('address').touched)">
      address cannot be blank!
    </div>

    <div
      *ngIf="!address.valid && (address.dirty||address.touched)" style="color: red">
      address is not valid
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Customer Type</label>
      <div class="col-sm-10 padding">
<!--        <select name="customerType" id="customerType" formControlName="customerType" class="width-select">-->
<!--          <option value="Diamond" selected>Diamond</option>-->
<!--          <option value="Platinium">Platinium</option>-->
<!--          <option value="Gold">Gold</option>-->
<!--          <option value="Silver">Silver</option>-->
<!--          <option value="Member">Member</option>-->
<!--        </select>-->
        <select name="customerType" id="customerType" formControlName="customerType" class="width-select">
          <option *ngFor="let cusType of customerTypes" [ngValue]="cusType">{{cusType.name}}</option>
        </select>

      </div>
    </div>

    <div
      *ngIf="!customerType.valid && (customerType.dirty||customerType.touched)" style="color: red">
      customer Type is not valid
    </div>

<!--    <div class="row">-->
<!--      <div class="">-->
<!--        <input type="submit" class="btn btn-warning col-2 container-fluid" value="Edit"/>-->
<!--      </div>-->
<!--    </div>-->

    <mat-dialog-actions >
      <button class="btn btn-danger" mat-dialog-close>Cancel</button>
      &nbsp;
      <button class="btn btn-info" [mat-dialog-close]="true" (click)="update(customerForm.controls.id.value)">Edit</button>
    </mat-dialog-actions>
  </form>
</div>
