<p>product-list works!</p>
<app-create-product (eventEmitter)="createForm($event)"></app-create-product>

<div>
  <h2>Product Information</h2>
  <table border="1px" >
    <tr>
      <!--      <th>No</th>-->
      <th>id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Point</th>
    </tr>
    <tr *ngFor="let product of productList; index as i" (click)="viewDetail(product)">
      <!--      <td>{{i+1}}</td>-->
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td [ngSwitch]="product.gender">
        <span *ngSwitchCase="1">Male</span>
        <span *ngSwitchCase="0">FeMale</span>
        <span *ngSwitchDefault>Other</span>
      </td>
      <td>{{product.point}}</td>
      <td ><button (click)="delete(product)">delete</button></td>
<!--      <td ><button (click)="edit(product)">edit</button></td>-->
    </tr>
  </table>
</div>

<app-view-product [productView]="productDetail"></app-view-product>

