<h2>Font size editor</h2>

<div>
  <label>Enter font size (px):</label>
<!--  cach 1-->
<!--  <input #element type="range" min="9" max="72" value="18" (change)="changeFontSizeValue(element.value)">-->

  <!--  cach 2-->
  <input type="range" min="9" max="72" value="18" [(ngModel)]="fontSize">
</div>

<!--cach 1-->
<!--<p class="output" [style.fontSize.px]="fontSize">-->
<!--  This is a paragraph.-->
<!--</p>-->

<!--  cach 2-->
<p class="output" [style.fontSize.px]="fontSize">
  This is a paragraph.
</p>
