<p>create-customer works!</p>

<app-header></app-header>



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3>Create Customer</h3>
      <p>Up the best of Service to you.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12  text-center">
      <span><a href="#" class="text-decoration-none text-primary fs-6">Explore ></a></span>
      <span> <a href="#" class="text-decoration-none text-primary  fs-6">Top Surface deals ></a></span>
    </div>
  </div>
</div>


<hr class="dropdown-divider">

<div style="padding: 15px" id="form" class="mb-6 row" >
  <form method="POST" novalidate="novalidate">
    <input  type="hidden" />

    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" />
        <!--                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
      </div>
    </div>

    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">codeNumber</label>
      <div class="col-sm-10">
        <input type="text"/>
        <!--                <p class="text-danger" th:if="${#fields.hasErrors('codeNumber')}" th:errors="*{codeNumber}"></p>-->
      </div>
    </div>

    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">BirthDay</label>
      <div class="col-sm-10">
        <input type="date" />
        <!--                <p class="text-danger" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></p>-->
      </div>
    </div>

    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">Gender</label>
      <div class="col-sm-10">
        <select >
          <option>Man</option>
          <option>Woman</option>
        </select>
      </div>
    </div>


    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">IdCard</label>
      <div class="col-sm-10">
        <input type="text"/>
        <!--                <p class="text-danger" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>-->
      </div>
    </div>

    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input type="text"/>
        <!--                <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>-->
      </div>
    </div>

    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email"/>
        <!--                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
      </div>
    </div>

    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input type="text"/>
        <!--                <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>-->
      </div>
    </div>

    <div class="mb-6 row">
      <label  class="col-sm-2 col-form-label">Customer Type</label>
      <div class="col-sm-10">
        <select >
          <option>Diamond</option>
          <option>Platinum</option>
          <option>Gold</option>
          <option>Silver</option>
          <option>Member</option>
        </select>
      </div>
    </div>
    <button class="btn-primary" type="submit">save</button>
  </form>
</div>

  <hr class="dropdown-divider">


<app-footer></app-footer>
