<p>header works!</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" alt="" width="50px" height="50px"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            About us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item" href="#">Accomodation</a></li>
            <li><a class="dropdown-item" href="#">Gallery</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Selector
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li class="nav-item"><a class="nav-link" routerLink="/customer/list">Customer</a></li>
<!--            <li class="nav-item"><a class="nav-link" href="/employee">Employee</a></li>-->
            <li class="nav-item"><a class="nav-link" routerLink="/contract/list">Contract</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/facility/list">Facility</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Other
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a class="dropdown-item" href="#">Surface headphones 2</a></li>
            <li><a class="dropdown-item" href="#">Surface earbuds</a></li>
            <li><a class="dropdown-item" href="#">Surface pro X accsessories</a></li>
            <li><a class="dropdown-item" href="#">Surface pro accsessories</a></li>
            <li><a class="dropdown-item" href="#">Surface laptop accsessories</a></li>
            <li><a class="dropdown-item" href="#">Surface book accsessories</a></li>
            <li><a class="dropdown-item" href="#">Surface go accsessories</a></li>
            <li><a class="dropdown-item" href="#">Surface studio accsessories</a></li>
            <li><a class="dropdown-item" href="#">All surface accsessories</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Shop now
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a class="dropdown-item" href="#">Surface deals</a></li>
            <li><a class="dropdown-item" href="#">Surface bundles</a></li>
            <li><a class="dropdown-item" href="#">All surface devices</a></li>
            <li><a class="dropdown-item" href="#">Where to buy</a></li>
            <li><a class="dropdown-item" href="#">peronnal shopping appointment</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Support</a>
        </li>
      </ul>
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>
